<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-left">
        <a href="{{ '/' | relative_url }}" class="footer-text-logo">
            {% for line in site.logo_lines %}
            <span class="logo-line logo-{{ line.size }}">{{ line.text }}</span>
            {% endfor %}
        </a>
    </div>



    <div class="footer-right">
      {% if site.site_links.github %}
        <a href="{{ site.site_links.github }}" target="_blank" rel="noopener">GitHub</a>
      {% endif %}
      {% if site.site_links.twitter %}
        <a href="{{ site.site_links.twitter }}" target="_blank" rel="noopener">X</a>
      {% endif %}
      {% if site.site_links.mail %}
        <a href="{{ site.site_links.mail }}">Mail</a>
      {% endif %}
    </div>
      <a href="{{ '/about/' | relative_url }}">About</a>
  </div>
</footer>
